<aside>
    <img
      src="./avatar-148.png"
      alt="Something i took from a wallpaper"
      width="148" height="148" />

    <div class="text-center">
      <a href="index.html">home</a>
      ·
      <a href="misc.html">misc</a>
      ·
      <a class="rss" href="/blog/index.xml">rss</a>
    </div>

    <dl class="external-links">
      <dt>email</dt>
      <dd><a href="mailto:svin.mail.24@gmail.com">svin.mail.24@gmail.com</a></dd>
      <dt>github</dt>
      <dd><a href="https://github.com/svin24">github.com/svin24</a></dd>
    </dl>

    <small>
      I am currently in search of a job, if you are interested in anyway,
      please contact me!
    </small>
</aside>
